.columns > div {
  display: flex;
  flex-direction: column;
}

/* Border radius for 2-column layout rows */
.columns > div:has(> div:nth-child(2):last-child) {
  border-radius: var(--acs-hero-border-radius);
  box-shadow: var(--box-shadow-neon);
  margin-bottom: 16px;
  padding: 16px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div:first-child {
  flex: 0 0 53%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns p strong {
  color: #ff8585 !important;
  font-size: 20px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 7px;
  }

  .columns > div > div {
    order: unset;
  }

  .columns > div > div:first-child {
    flex: 0 0 53%;
    margin-right: 32px;
  }

  .columns > div > div:not(:first-child) {
    flex: 1;
    margin-right: 8px;
  }

  .columns > div > div:last-child {
    margin-right: 0;
  }

}
