.summary-cards {
    border-radius: 15px;
    padding: 21px;
    box-shadow: var(--card-box-shadow);

    .summary-list-container {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .summary-detail {
            border-radius: 10px;
            padding:12px 15px;
            background-color: var(--acs-testimonail-card-border-color);

            p {
                margin: 0;
            }
            
            p strong {
                color: #ff8585 !important;
            }

            p:first-of-type {
                font-size: 20px;
            }

            p:last-of-type {
                font-size: 16px;
                color: var(--acs-copilot-body-text-secondary-color)
            }
        }
    }

    h3{
        margin: 0;
        margin-bottom: 1.25rem;
    }

}
