.detail-card {
    border-radius: 15px;
    flex: 1;
    padding: 10px 15px;
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .percent-div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 80px;
        }

        p {
            font-size: 25px;
            font-weight: 700;
            color: #ff8585 
        }
    }

    p.main-text {
        font-size: 25px;
        font-weight: 700;
    }

    p.sub-text {
        color: var(--acs-copilot-body-text-secondary-color);
        font-size: 16px;
        line-height: 1.25rem;
    }
}

.detail-cards-container {
    width: 100%;
}

.detail-container {
    display: flex;
    gap: 1.5rem;
    margin: 20px 0;
}